


@media screen and (max-width: 768px) {
  div.waveform {
    display: none;
  }
}

@media (max-width: 768px) {
  div.row {
    display: block;
    flex-wrap: nowrap;
    margin-right: auto;
    margin-left: auto;
  }
}

.description-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* left: 50%;
  top: 50%; */
  /* transform: translate(-50%, -50%); */
  margin: 0px 400px 25px 400px;
  }

audio
{
/* margin: 0px 1000px 0px 1000px 50px; */
width: 400px;
-webkit-transition:all 0.3s linear;
-moz-transition:all 0.3s linear;
-o-transition:all 0.3s linear;
transition:all 0.3s linear;
-moz-box-shadow: 2px 2px 4px 0px #006773;
-webkit-box-shadow:  2px 2px 4px 0px #006773;
box-shadow: 2px 2px 4px 0px #006773;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
}
audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.01);
-moz-transform: scale(1.01);
transform: scale(1.01);
}

table { 
	width: 1000px; 
	border-collapse: collapse; 
	margin:50px auto;
	}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}

.labels tr td {
	background-color: #003468;
	font-weight: bold;
	color: #fff;
}

.label tr td label {
	display: block;
}


[data-toggle="toggle"] {
	display: none;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.hide {
  display: none;
}



    .fa-arrow-down{
      display: inline-block;
      float: right;
      margin-left: 500px;
      transform: rotate(0deg);
      transition: transform .3s linear;
    }
    
    .fa-arrow-down.open{
      display: inline-block;
      float: right;
      margin-left: 500px;
      transform: rotate(180deg);
      transition: transform .3s linear;
    }

footer
{
  background-color: #003468 !important;
}