@media (max-width: 768px) {
  table.audioTable {
    display: block ;
    flex-wrap: nowrap;
    margin-right: auto ;
    margin-left: auto ;
    width: auto;
    font-size: 9px;
  }
}

@media (max-width: 768px) {
  td.audioTitle {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  img.downloadButton {
    width: 20px;
    height: 10px;
  }
}

@media screen and (max-width: 768px) {
  div.waveform {
    display: none;
  }
}

@media (max-width: 768px) {
  div.row {
    display: block;
    flex-wrap: nowrap;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 768px) {
  div.headerSpacing {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  div.headerSpacing {
    margin-left: 32%;
  }
}

@media screen and (max-width: 768px) {
  h4.headerSpacing {
    margin-left: -72%;
  }
}

@media screen and (min-width: 768px) {
  h4.headerSpacing {
    margin-left: -26%;
  }
}

.image2{
  display: none;
}

@media only screen and (max-width: 768px){
  .image1{
    display: none;
  }

  .image2{
    display: block;
  }
}

@media only screen and (min-width: 768px){ 
  .image1{
    display: block;
  }

  .image2{
    display: none;
  }
}

.description-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 400px 25px 400px;
  }

audio
{

-webkit-transition:all 0.3s linear;
-moz-transition:all 0.3s linear;
-o-transition:all 0.3s linear;
transition:all 0.3s linear;
-moz-box-shadow: 2px 2px 4px 0px #006773;
-webkit-box-shadow:  2px 2px 4px 0px #006773;
box-shadow: 2px 2px 4px 0px #006773;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
}
audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.01);
-moz-transform: scale(1.01);
transform: scale(1.01);
}

img.downloadButton:hover, img.downloadButton:focus, img.downloadButton:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.01);
-moz-transform: scale(1.01);
transform: scale(1.01);
}

table { 
	width: 1000px; 
	border-collapse: collapse; 
	margin:50px auto;
	}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}

.labels tr td {
	background-color: #003468;
	font-weight: bold;
	color: #fff;
}

.label tr td label {
	display: block;
}


[data-toggle="toggle"] {
	display: none;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.hide {
  display: none;
}

footer
{
  background-color: #003468 !important;
}