.container-audio {
position: relative;
display: flex;
align-items: center;
justify-content: center;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

.title-container {
position: relative;
display: flex;
align-items: center;
justify-content: center;
left: 50%;
top: 10%;
transform: translate(-50%, -50%);
margin-top: 50px;
}

.description-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* left: 50%;
  top: 50%; */
  /* transform: translate(-50%, -50%); */
  margin: 0px 400px 25px 400px;
  }

audio
{
/* margin: 0px 1000px 0px 1000px 50px; */
width: 800px;
-webkit-transition:all 0.3s linear;
-moz-transition:all 0.3s linear;
-o-transition:all 0.3s linear;
transition:all 0.3s linear;
-moz-box-shadow: 2px 2px 4px 0px #006773;
-webkit-box-shadow:  2px 2px 4px 0px #006773;
box-shadow: 2px 2px 4px 0px #006773;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
}
audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.01);
-moz-transform: scale(1.01);
transform: scale(1.01);
}
